#bloc0 {font-size: 11px;}
#bloc0 h3 {font-size: 14px;}

#bloc1 {font-size: 11px;}
#bloc1 h3 {font-size: 13px;}

#bloc2 {font-size: 11px;}
#bloc2 h3 {font-size: 13px;}

#bloc3 {font-size: 11px;}
#bloc3 h3 {font-size: 13px;}

#bloc4 {font-size: 11px;}
#bloc4 h3 {font-size: 13px;}

#bloc5 {font-size: 11px;}
#bloc5 h3 {font-size: 13px;}

/*#jsnx{

}*/


/* Style pour a peu près tout ! */

.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}


#ex1Slider .slider-selection {
	background: #BABABA;
}

/* Add a dark background color to the footer */

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

footer.nb-footer {
    background: #222;
    border-top: 4px solid #b78c33;
}

footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center;
}

footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px;
}

footer.nb-footer .about .social-media {
    margin-top: 15px;
}

footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #b78c33;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

footer.nb-footer .about .social-media ul li a:hover {
    background: #b78c33;
    color: #fff;
    border-color: #b78c33;
}

footer.nb-footer .footer-info-single {
    margin-top: 30px;
}

footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #b78c33;
    padding-left: 5px;
}

footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0;
}

footer.nb-footer .footer-info-single ul li a:hover {
    color: #b78c33;
}

footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa;
}

footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999;
}

footer.nb-footer .copyright p {
    margin: 0;
    padding: 0;
}

/* Footer GoT */

footer.nb-footer-got {
    background: #222;
    border-top: 4px solid #2F4F4F#2F4F4F;
}

footer.nb-footer-got .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center;
}

footer.nb-footer-got .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px;
}

footer.nb-footer-got .about .social-media {
    margin-top: 15px;
}

footer.nb-footer-got .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #2F4F4F;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

footer.nb-footer-got .about .social-media ul li a:hover {
    background: #2F4F4F;
    color: #fff;
    border-color: #2F4F4F;
}

footer.nb-footer-got .footer-info-single {
    margin-top: 30px;
}

footer.nb-footer-got .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #2F4F4F;
    padding-left: 5px;
}

footer.nb-footer-got .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0;
}

footer.nb-footer-got .footer-info-single ul li a:hover {
    color: #2F4F4F;
}

footer.nb-footer-got .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa;
}

footer.nb-footer-got .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999;
}

footer.nb-footer-got .copyright p {
    margin: 0;
    padding: 0;
}

/* Footer BB */

footer.nb-footer-bb {
    background: #222;
    border-top: 4px solid #B0E0E6;
}

footer.nb-footer-bb .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center;
}

footer.nb-footer-bb .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px;
}

footer.nb-footer-bb .about .social-media {
    margin-top: 15px;
}

footer.nb-footer-bb .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #B0E0E6;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

footer.nb-footer-bb .about .social-media ul li a:hover {
    background: #B0E0E6;
    color: #fff;
    border-color: #B0E0E6;
}

footer.nb-footer-bb .footer-info-single {
    margin-top: 30px;
}

footer.nb-footer-bb .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #B0E0E6;
    padding-left: 5px;
}

footer.nb-footer-bb .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0;
}

footer.nb-footer-bb .footer-info-single ul li a:hover {
    color: #B0E0E6;
}

footer.nb-footer-bb .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa;
}

footer.nb-footer-bb .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999;
}

footer.nb-footer-bb .copyright p {
    margin: 0;
    padding: 0;
}
